/* src/recipe.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
    flex-shrink: 0;
}

.menu-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
}

.section {
    width: 150px; /* Fixed width */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    flex: 0 0 auto; /* Prevent unwanted stretching */
    box-sizing: border-box; /* Include padding and border in width */
}

.section:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.recipe-image {
    width: 100%;
    height: auto;
}

.recipe-title {
    margin-top: 5px;
    font-size: 14px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text */
}

.modal-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

.modal-content p {
    margin-bottom: 10px; /* Adjust margin for paragraphs */
}

.modal-content button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0; /* Space between buttons */
}

.more-info-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.more-info-button:hover {
    background-color: #0056b3;
}
