.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70%; 
    width: 100%; 
}

.modal-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.modal-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 0; 
}

@media (max-width: 768px) {
    .modal-dialog {
        width: 100%; 
        max-width: 95%; 
    }

    .modal-header {
        justify-content: flex-start;
    }
}
.modal-header .btn-close {
    position: absolute;  
    right: 0;            
    top: 0; 
}
