.shopping-list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.shopping-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
}

.shopping-list-item {
    flex: 0 0 calc(25% - 20px);
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    height: 300px;
    width: 281.25px;
    text-align: left;
    border-radius: 5px;
    position: relative;
}

    .shopping-list-item .shopping-list-menu-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 2;
        background: none;
        border: none;
    }

    .shopping-list-item .dropdown-toggle::after {
        display: none;
    }

.shopping-list-title-container {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    text-align: center;
}

.shopping-list-title {
    font-size: 1.25rem;
    margin: 0;
}

.shopping-list-preview {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}

    .shopping-list-preview li {
        margin: 5px 0;
        font-size: 0.9rem;
    }


.preview-item {
    font-size: 0.9rem;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 4px;
}


.shopping-list-add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #109648;
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

.shopping-list-add .add-icon {
    font-size: 3rem;
    transform: scale(2)
}


.trash-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: red;
    cursor: pointer;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
}
