.shopping-list-page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding-top: 20px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

ul.list-group {
    width: 100%;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1.5rem;
    padding: 15px;
    margin-bottom: 10px;
}

