.sidebar-navbar {
    background-color: #0b60b0;
    width: 180px;
    transition: width 0.3s ease;
    align-items: center;
}

.sidebar-navbar.collapsed {
    width: 50px;

}


.notification-dot {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid white;
}

.sidebar-navbar .nav-link {
    white-space: nowrap;
    justify-content: flex-start;
    font-size: 1rem;
    color: #FFFFFF;
}

.sidebar-navbar .nav-link .svg-inline--fa {
    margin-right: 0;
    flex-shrink: 0;
}

.sidebar-navbar.collapsed .nav-link {
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

.sidebar-navbar.collapsed .nav-link .svg-inline--fa {
    margin-right: 0;
}

.sidebar-logo {
    max-width: 100px;
}

.sidebar-navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-navbar .bottom-links {
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-navbar .toggle-btn {
    padding: 5px 10px;
    width: 100%;
}

.header-navbar {
    background-color: #109648 !important;
    border-bottom: 1px solid black;
}

.header-navbar .dropdown-menu {
    border: 1px solid black;
}

.header-navbar .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.invites-dropdown .list-group-item .d-flex.justify-content-between {
    margin-top: 12px;
}

.header-navbar .navbar-nav .nav-link, .header-navbar .navbar-nav .nav-item button {
    color: #FFFFFF;
}

.header-navbar .navbar-nav .signout-button {
    color: #000000 !important;
}

@media (max-width: 450px) {
    .header-navbar .icons-container {
        gap: 8px;
        justify-content: space-between;
    }

    .header-navbar .nav-link, .header-navbar .nav-item button {
        padding: 4px;
        color: #FFFFFF;
    }
}

@media (max-width: 600px) {
    .header-navbar .icons-container {
        gap: 5px;
    }
}