
.sidebar-navbar {
    background-color: #0b60b0;
    width: 180px;
    transition: width 0.3s ease;
    align-items: center;
}

.sidebar-navbar.collapsed {
    width: 50px;
}

.sidebar-navbar .nav-link {
    justify-content: flex-start;
    font-size: 1rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.sidebar-navbar.collapsed .nav-link {
    justify-content: center;
    padding: 10px 0;
}

.sidebar-navbar .nav-link svg {
    margin-right: 0;
    flex-shrink: 0;
}

.sidebar-navbar.collapsed .nav-link svg {
    margin-right: 0;
}

.sidebar-navbar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-navbar .bottom-links {
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-navbar .bottom-links .nav-item {
    margin-bottom: 10px;
}

.sidebar-navbar .toggle-btn {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sidebar-logo {
    max-width: 100px;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
}

    .sidebar-logo:hover {
        filter: none !important;
    }

.header-navbar {
    background-color: #109648 !important;
    border-bottom: 1px solid black;
}

    .header-navbar .nav-link {
        color: #FFFFFF;
    }

    .header-navbar .dropdown-menu {
        border: 1px solid black;
    }

    .header-navbar .dropdown-item {
        color: black;
    }

        .header-navbar .dropdown-item:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

.header-separator {
    height: 4px;
    background-color: black;
}

.main-content .main-heading {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}
