:root {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f8f9fa;
}

.page-content {
    padding-top: 20px;
}

.text-highlight {
    color: #228B22;
    font-weight: bold;
}

.text-dark {
    color: black;
}

.description {
    font-size: 1.25rem;
    color: #333;
}

.form-control {
    font-size: 1.25rem;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.form-control:focus {
    border-color: #003366;
    box-shadow: 0 0 0 0.2rem rgba(0, 51, 102, 0.25);
}

button.btn-primary {
    background-color: #003366;
    border-color: #003366;
    font-weight: bold;
}

button.btn-primary:hover {
    background-color: #004080;
    border-color: #004080;
}

button.btn-secondary {
    font-weight: bold;
}

a.btn.btn-primary {
    min-width: 7vw;
}

.icon {
    color: #FFFFFF;
}

.icon-button {
    background: transparent;
    border: none;
}

.toggle-btn {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
}

.toggle-btn:hover {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.table th {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.table tr > td {
    position: relative !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.primary-bg {
    background-color: #003366 !important;
}

tr.strikethrough td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
    z-index: 999;
}

.form-switch-md {
    transform: scale(1.15); 
    transform-origin: left;
}

.form-required:after {
    content: ' *';
    color: red;
}

.form-actions {
    margin: 20px 0
}

.recurrence-editor .e-control.e-textbox {
    padding: 4px !important;
    height: 30px !important;
    font-size: 0.875rem !important;
}

.e-repeat-element.e-control.e-dropdownlist.e-lib {
    display: flex !important;
    height: 40px !important;
    font-size: 16px !important;
    line-height: 23px !important;
    text-align: start !important;
    align-items: center !important;
    box-sizing: border-box !important;
}

label.e-float-text.e-label-top {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    z-index: 40 !important;
    top: 0.5rem !important;
    color: rgb(33, 37, 41) !important;
    text-align: start !important;
    text-size-adjust: 100% !important;
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", -apple-system, "BlinkMacSystemFont" !important;
}

.form-check-input {
    border: 0.1px solid grey !important;
}

.form-check-input.form-check-input-large {
    height: 1.4rem !important;
    width: 1.4rem !important;
}
