:root {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f8f9fa;
}
.header-text {
    
}

.text-highlight {
    color: #228B22;
    font-weight: bold;
}

.text-dark {
    color: black;
}

.description {
    font-size: 1.25rem;
    color: #333;
}


.form-control {
    font-size: 1.25rem;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

    .form-control:focus {
        border-color: #003366;
        box-shadow: 0 0 0 0.2rem rgba(0, 51, 102, 0.25);
    }

button.btn-primary {
    background-color: #003366;
    border-color: #003366;
    padding: 0.75rem;
    font-size: 1.25rem;
    font-weight: bold;
}

    button.btn-primary:hover {
        background-color: #004080;
        border-color: #004080;
    }

.icon {
    color: #FFFFFF;
}

.icon-button {
    background: transparent;
    border: none;
}

.toggle-btn {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
}

.toggle-btn:hover {
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.table th {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.table tr > td {
    position: relative !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.primary-bg {
    background-color: #003366 !important;
}

tr.strikethrough td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid #111;
    width: 100%;
    z-index: 999;
}