@import "../node_modules/@syncfusion/ej2-base/styles/bootstrap5.3.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.3.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/bootstrap5.3.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.3.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/bootstrap5.3.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/bootstrap5.3.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.3.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap5.3.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/bootstrap5.3.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import '../node_modules/@syncfusion/ej2-richtexteditor/styles/bootstrap5.3.css';
