.dashboard-card {
    min-width: 250px !important;
}

.container {
    overflow-x: hidden;
}

.row {
    margin: 0;
    padding-left:20px;
    padding-right: 20px;
    --bs-gutter-x: 0;
}

body {
    overflow-x: hidden;
}
